
.menu-head {
    padding : 10px !important;
    box-shadow: 5px 5px 5px lightgrey !important;
    border: none  !important;
}

.menuItem-1 .m-h3 {
    padding-left: 10em !important;
    opacity: 70%  !important;
    font-size: 20px  !important;
    letter-spacing: 1px  !important;
}